<!DOCTYPE html>
<html>
<head>
    <title>直播帧数据展示</title>
</head>
<body>
    <h2>最新直播帧</h2>
    <ul id="frame-list">
        {% for row in frames %}
            <li>
                [{{ row.time }}] HEX: {{ row.hex }} RAND: {{ row.rand }}<br>
                <img src="{{ row.img1 }}" alt="c1" width="200">
                <img src="{{ row.img2 }}" alt="c2" width="200">
                <img src="{{ row.img3 }}" alt="c3" width="200">
                <img src="{{ row.img4 }}" alt="c4" width="200">
            </li>
        {% endfor %}
    </ul>

    <script>
    const eventSource = new EventSource("/sse/frames/");

    eventSource.onmessage = function(event) {
        console.log("收到消息:", event.data);

        try {
            const data = JSON.parse(event.data);
            const frameList = document.getElementById("frame-list");
            frameList.innerHTML = ""; // 清空旧内容

            data.forEach(row => {
                const li = document.createElement("li");
                li.innerHTML = `[${row.tid}] HEX: ${row.hex} RAND: ${row.rand}<br>` +
                               `<img src="${row.img1}" alt="c1" width="200">`+
                                `<img src="${row.img2}" alt="c2" width="200">`+
                                `<img src="${row.img3}" alt="c3" width="200">`+
                                `<img src="${row.img4}" alt="c4" width="200">`;
                frameList.appendChild(li);
            });
        } catch (e) {
            console.error("解析数据失败", e);
        }
    };

    eventSource.onerror = function(err) {
        console.error("SSE 连接错误", err);
    };
    </script>
</body>
</html>
